html
  head
    title Set your device ID for #{namespace}
    script(src='//code.jquery.com/jquery-1.9.0.min.js')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootswatch/2.1.1/readable/bootstrap.min.css')
    script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js')
    script(type='text/javascript')
      function updateDeviceId() {

      }
  body
    h1 Set your device ID for #{namespace}
    