!!!
html
  head
    title Entrance
    script(src='//code.jquery.com/jquery.min.js')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css')
    script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js')
    script(src="http://toma.hk/api.js?v=1")
    script(src="/party.js")

  body
    .container-fluid
      h1 Entrance Party

      #musictarget

      button.btn.btn-info#next Next Track
